body{
  padding: 0;
  margin: 0;
  background-image: url("../img/capa.gif");
  background-color: #dddddd;
  background-position: center;
  background-size: 100%;
  width: 100%;
}

  /* NOTE: cabeçalho */

.cabecalho{
  z-index: 2;
  background-color: #384466;
  height: 120px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  filter: drop-shadow(1px 1px 5px #404040);
  position: fixed;
}

.logo{
  width: 200px;
  height: 200px;
}

/* NOTE: ajuste do botão home e da barra de pesquisa */

@media screen and (min-width: 900px){

  .subody{
    z-index: 1;
    width: 65%;
    margin-left: -40%;
    left: 50%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px 0 10px 10px;
  }

  .subody2{
    position: absolute;
    z-index: 0;
    width: 15%;
    height: 700px;
    left: 75%;
    background-color: #B0B9C6;
    border-radius: 0 10px 10px 0;
  }

  .bt_home{
    height: 120px;
    width: 80px;
    position: absolute;
    top: 0px;
    left: 30%;
    background-image: url("../img/bt_home_off.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .pesquisa_div{
    position: absolute;
    top:50%;
    margin-left: -110px;
    left: 70%;
    margin-top: -25px;
    height: 50px;
    width: 30%;
  }

}

@media screen and (min-width: 600px) and (max-width:900px){

  .subody{
    z-index: 1;
    width: 90%;
    margin-left: -45%;
    left: 50%;
    top: 120px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
  }

  .subody2{
    position: absolute;
    z-index: 0;
    width: 90%;
    height: 700px;
    left: 5%;
    background-color: #B0B9C6;
    border-radius: 10px 10px 0 0;
  }

  .bt_home{
    height: 120px;
    width: 80px;
    position: absolute;
    top: 0px;
    left: 35%;
    background-image: url("../img/bt_home_off.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }



  .pesquisa_div{
    position: absolute;
    top:50%;
    margin-left: -110px;
    left: 70%;
    margin-top: -25px;
    height: 50px;
    width: 30%;
  }
}

@media screen and (min-width: 200px) and (max-width: 600px){

  .subody{
    z-index: 1;
    width: 90%;
    margin-left: -45%;
    left: 50%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .subody2{
    display: none !important;
  }

  .bt_home{
    height: 120px;
    position: absolute;
    top: 0px;
    left: 35%;
  }



  .pesquisa_div{
    position: absolute;
    top:50%;
    margin-left: -110px;
    left: 80%;
    margin-top: -25px;
    height: 50px;
    width: 30%;
  }
}

.pesquisa_br{
  height: 50px;
  width: 100%;
  font-size: 20px;
}

.lupa{
  width: 46px;
  height: 46px;
}

.lupa_bt{
  position: absolute;
  left: 89%;
  top: 0
  border: none;
  padding: 0px;
  margin:0;
}

.position{
  position: absolute;
  top: 200px;
  width: 100%;
}

.div_conteudo{
  height: 10%;
  border-radius: 5px;
  margin:20px;
  padding: 20px;
  background-color: #dfdfdf;
  filter: drop-shadow(0 0 5px #909090);
}

.div_txt{
  position: absolute;
  left: 240px;
  top: 70px;
  text-align: justify;
  max-width: 62%;
}

.txt_conteudo{
  text-indent: 30px;
  overflow: hidden;
  text-overflow: elipsis;
  display: -webkit-box;
  -webkit-line-clamp:7;
  -webkit-box-orient:vertical;
  font-family: verdana;
}

.img_conteudo{
  border-radius: 5px;
  max-width: 200px;
  margin-right: 200px;
}
}
